#canvas {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid black;
  transform: scale(2);
  margin: auto;
  image-rendering: pixelated;
  outline: none;
}